.editify-icon-stop:before {
	content: '\e67c';
}

.editify-icon-loop:before {
	content: '\e621';
}

.editify-icon-autoplay:before {
	content: '\e618';
}

.editify-icon-muted:before {
	content: '\ea0f';
}

.editify-icon-unmuted:before {
	content: '\ea11';
}

.editify-icon-controls:before {
	content: '\e627';
}

.editify-icon-video:before {
	content: '\e622';
}

.editify-icon-single:before {
	content: '\e63e';
}

.editify-icon-rotate:before {
	content: '\e652';
}

.editify-icon-delete:before {
	content: '\e60f';
}

.editify-icon-image:before {
	content: '\e6ed';
}

.editify-icon-brush:before {
	content: '\e71c';
}

.editify-icon-check:before {
	content: '\e6cc';
}

.editify-icon-italic:before {
	content: '\e69f';
}

.editify-icon-line-height1:before {
	content: '\e6a7';
}

.editify-icon-redo:before {
	content: '\e6df';
}

.editify-icon-undo:before {
	content: '\e713';
}

.editify-icon-code-block:before {
	content: '\e620';
}

.editify-icon-width:before {
	content: '\e674';
}

.editify-icon-h5:before {
	content: '\e61a';
}

.editify-icon-edit:before {
	content: '\e817';
}

.editify-icon-table:before {
	content: '\e6c4';
}

.editify-icon-delete-table:before {
	content: '\e7a2';
}

.editify-icon-align-center:before {
	content: '\e783';
}

.editify-icon-align-justify:before {
	content: '\e786';
}

.editify-icon-align-left:before {
	content: '\e787';
}

.editify-icon-bold:before {
	content: '\e78d';
}

.editify-icon-code:before {
	content: '\e78e';
}

.editify-icon-align-right:before {
	content: '\e78f';
}

.editify-icon-font-size:before {
	content: '\e791';
}

.editify-icon-font-color:before {
	content: '\e792';
}

.editify-icon-format-clear:before {
	content: '\e793';
}

.editify-icon-h1:before {
	content: '\e794';
}

.editify-icon-h2:before {
	content: '\e795';
}

.editify-icon-h4:before {
	content: '\e796';
}

.editify-icon-h3:before {
	content: '\e797';
}

.editify-icon-indent-increase:before {
	content: '\e798';
}

.editify-icon-h6:before {
	content: '\e799';
}

.editify-icon-heading:before {
	content: '\e79a';
}

.editify-icon-quote:before {
	content: '\e79b';
}

.editify-icon-indent-decrease:before {
	content: '\e79c';
}

.editify-icon-unlink:before {
	content: '\e79e';
}

.editify-icon-list-ordered:before {
	content: '\e79f';
}

.editify-icon-list-unordered:before {
	content: '\e7a0';
}

.editify-icon-link:before {
	content: '\e7a1';
}

.editify-icon-paragraph:before {
	content: '\e7a3';
}

.editify-icon-separator:before {
	content: '\e7a4';
}

.editify-icon-subscript:before {
	content: '\e7a5';
}

.editify-icon-superscript:before {
	content: '\e7a6';
}

.editify-icon-strikethrough:before {
	content: '\e7a7';
}

.editify-icon-underline:before {
	content: '\e7a8';
}

.editify-icon-text-wrap:before {
	content: '\e7a9';
}

.editify-icon-caret-down:before {
	content: '\e78c';
}

.editify-icon-delete-column:before {
	content: '\e784';
}

.editify-icon-delete-row:before {
	content: '\e785';
}

.editify-icon-insert-column-left:before {
	content: '\e788';
}

.editify-icon-insert-column-right:before {
	content: '\e789';
}

.editify-icon-insert-row-bottom:before {
	content: '\e78a';
}

.editify-icon-insert-row-top:before {
	content: '\e78b';
}
