.editify-checkbox {
	display: inline-flex;
	margin: 0;
	padding: 0;
	position: relative;
	vertical-align: middle;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
	user-select: none;
	font-size: var(--editify-font-size);

	input[type='checkbox'] {
		width: 0;
		height: 0;
		opacity: 0;
		border: none;
		display: none;
	}

	.editify-checkbox-item {
		display: inline-flex;
		display: -webkit-inline-flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin: 0;
		padding: 1px;
		border: 1px solid var(--editify-border-color);
		background-color: var(--editify-background);
		border-radius: 2px;
		color: var(--editify-background);
		transition: border-color 0.1s cubic-bezier(0.71, -0.46, 0.29, 1.46), background-color 0.1s cubic-bezier(0.71, -0.46, 0.29, 1.46), color 0.1s cubic-bezier(0.71, -0.46, 0.29, 1.46);

		&.editify-round {
			border-radius: 50%;
		}

		&.editify-checked {
			background-color: var(--editify-font-color);
			border-color: var(--editify-font-color);

			&.editify-reverse {
				background-color: var(--editify-background);
				color: var(--editify-font-color-light);
				border-color: var(--editify-border-color);
			}
		}

		:deep(.editify-icon) {
			font-size: 18px;
			zoom: 50%;
		}
	}

	.editify-checkbox-label {
		vertical-align: middle;
		color: var(--editify-font-color);
		user-select: none;
		line-height: 1;

		&[data-editify-placement='left'] {
			margin-right: 6px;
		}

		&[data-editify-placement='right'] {
			margin-left: 6px;
		}
	}

	&.editify-disabled {
		cursor: not-allowed;
		.editify-checkbox-item,
		.editify-checkbox-item.check {
			background-color: var(--editify-background-darker);
			border-color: var(--editify-border-color);
			color: var(--editify-font-color-disabled);
		}

		.editify-checkbox-label {
			color: var(--editify-font-color-disabled);
		}
	}
}
