//三角图标大小
@triangle-size: 6px;
//编辑器内的默认字体大小
@font-size: 14px;
//字体颜色
@font-color: #555;
//较浅的字体颜色（副文本颜色）
@font-color-light: #888;
//更浅的字体颜色（placeholder和禁用字体颜色）
@font-color-disabled: #ccc;
//较深的字体颜色（编辑器内容区域字体颜色）
@font-color-dark: #333;
//链接字体颜色
@font-color-link: #079457;
//链接字体悬浮色
@font-color-link-dark: #05683d;
//边框颜色
@border-color: #dfdfdf;
//默认背景色
@background: #fff;
//较深的背景色
@background-dark: #f7f8fa;
//更深的背景色
@background-darker: #ebedf0;
//代码块背景色
@pre-background: #f2f6fb;
//反色调字体颜色
@reverse-color: #fff;
//反色调背景色
@reverse-background: #000;
