.editify-tooltip {
	position: relative;
	display: inline-block;

	&.editify-block {
		display: block;
	}
}

.editify-tooltip-content {
	display: block;
	padding: 4px 6px;
	font-size: 12px;
	white-space: nowrap;
}
