.editify {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, Roboto, 'Segoe UI', 'Microsoft YaHei', Arial, sans-serif;
	line-height: 1.5;

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		-webkit-tap-highlight-color: transparent;
		outline: none;
	}

	&.editify-fullscreen {
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw !important;
		height: 100vh !important;
		background: var(--editify-background);

		.editify-body {
			border-radius: 0;
		}
	}

	&.editify-autoheight {
		height: auto;

		.editify-body {
			height: auto;
			flex: none;
		}
	}
}

.editify-body {
	display: block;
	width: 100%;
	height: 0;
	flex: 1;
	position: relative;
	background-color: var(--editify-background);
	padding: 1px;
	border-radius: 4px;

	&.editify-border {
		border: 1px solid var(--editify-border-color);
		transition: all 300ms;

		&.editify-menu_inner {
			border-top: none;
			border-radius: 0 0 4px 4px;
		}
	}

	&.editify-menu_inner {
		padding-top: 21px;

		.editify-sourceview {
			top: 21px;
			height: calc(100% - 21px);
		}
	}

	//编辑器样式
	.editify-content {
		display: block;
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		padding: 6px 10px;
		line-height: 1.5;
		color: var(--editify-font-color-dark);
		font-size: var(--editify-font-size);
		position: relative;
		line-height: 1.5;
		overflow-wrap: break-word;

		//显示占位符
		&.editify-placeholder::before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			content: attr(data-editify-placeholder);
			font-size: inherit;
			font-family: inherit;
			color: var(--editify-font-color-disabled);
			line-height: inherit;
			padding: 6px 10px;
			cursor: text;
			touch-action: none;
			user-select: none;
		}

		//段落样式和标题
		:deep(p),
		:deep(h1),
		:deep(h2),
		:deep(h3),
		:deep(h4),
		:deep(h5),
		:deep(h6) {
			display: block;
			width: 100%;
			margin: 0 0 15px 0;
			padding: 0;
		}
		:deep(h1) {
			font-size: 32px;
		}
		:deep(h2) {
			font-size: 28px;
		}
		:deep(h3) {
			font-size: 24px;
		}
		:deep(h4) {
			font-size: 20px;
		}
		:deep(h5) {
			font-size: 18px;
		}
		:deep(h6) {
			font-size: 16px;
		}

		//不是有序列表元素则重置后面的有序列表序列
		:deep(:not(div[data-editify-list='ol'])) + div[data-editify-list='ol'] {
			counter-reset: item 0;
		}

		//有序列表样式
		:deep(div[data-editify-list='ol']) {
			margin-bottom: 15px;

			//第一个元素重置序列
			&:first-of-type {
				counter-reset: item 0;
			}

			&::before {
				counter-increment: item;
				content: counter(item) '.';
				margin-right: 10px;
			}

			&[data-editify-list-style='decimal'] {
				&::before {
					content: counter(item, decimal) '.';
				}
			}
			&[data-editify-list-style='decimal-leading-zero'] {
				&::before {
					content: counter(item, decimal-leading-zero) '.';
				}
			}
			&[data-editify-list-style='lower-roman'] {
				&::before {
					content: counter(item, lower-roman) '.';
				}
			}
			&[data-editify-list-style='upper-roman'] {
				&::before {
					content: counter(item, upper-roman) '.';
				}
			}
			&[data-editify-list-style='lower-alpha'] {
				&::before {
					content: counter(item, lower-alpha) '.';
				}
			}
			&[data-editify-list-style='upper-alpha'] {
				&::before {
					content: counter(item, upper-alpha) '.';
				}
			}
			&[data-editify-list-style='lower-greek'] {
				&::before {
					content: counter(item, lower-greek) '.';
				}
			}
			&[data-editify-list-style='cjk-ideographic'] {
				&::before {
					content: counter(item, cjk-ideographic) '.';
				}
			}
		}
		//无序列表样式
		:deep(div[data-editify-list='ul']) {
			margin-bottom: 15px;

			&::before {
				content: counter(item, disc);
				margin-right: 10px;
			}

			&[data-editify-list-style='disc'] {
				&::before {
					content: counter(item, disc);
				}
			}
			&[data-editify-list-style='circle'] {
				&::before {
					content: counter(item, circle);
				}
			}
			&[data-editify-list-style='square'] {
				&::before {
					content: counter(item, square);
				}
			}
		}
		//代码样式
		:deep([data-editify-code]) {
			display: inline-block;
			padding: 3px 6px;
			margin: 0 4px;
			border-radius: 4px;
			line-height: 1;
			font-family: Consolas, monospace, Monaco, Andale Mono, Ubuntu Mono;
			background-color: var(--editify-pre-background);
			color: var(--editify-font-color);
			border: 1px solid var(--editify-border-color);
			text-indent: initial;
			font-size: var(--editify-font-size);
			font-weight: normal;
		}
		//链接样式
		:deep(a) {
			color: var(--editify-font-color-link);
			transition: all 300ms;
			text-decoration: none;
			cursor: text;

			&:hover {
				color: var(--editify-font-color-link-dark);
				text-decoration: underline;
			}
		}
		//表格样式
		:deep(table) {
			width: 100%;
			border: 1px solid var(--editify-border-color);
			margin: 0;
			padding: 0;
			border-collapse: collapse;
			margin-bottom: 15px;
			background-color: var(--editify-background);
			color: var(--editify-font-color-dark);
			font-size: var(--editify-font-size);

			* {
				margin: 0 !important;
			}

			tbody {
				margin: 0;
				padding: 0;

				tr {
					margin: 0;
					padding: 0;

					&:first-child {
						background-color: var(--editify-background-darker);

						td {
							font-weight: bold;
							position: relative;
						}
					}

					td {
						margin: 0;
						border: 1px solid var(--editify-border-color);
						padding: 6px 10px;
						position: relative;
						white-space: pre-wrap;
						word-break: break-word;

						&:not(:last-child)::after {
							position: absolute;
							right: -5px;
							top: 0;
							width: 10px;
							height: 100%;
							content: '';
							z-index: 1;
							cursor: col-resize;
							user-select: none;
						}

						&[data-editify-merged] {
							display: none;
						}
					}
				}
			}
		}
		//代码块样式
		:deep(pre) {
			display: block;
			padding: 6px 10px;
			margin: 0 0 15px;
			font-family: Consolas, monospace, Monaco, Andale Mono, Ubuntu Mono;
			line-height: 1.5;
			font-size: var(--editify-font-size);
			color: var(--editify-font-color-dark);
			background-color: var(--editify-pre-background);
			border: 1px solid var(--editify-border-color);
			border-radius: 4px;
			overflow: auto;
			position: relative;
			transition: all 300ms;
		}
		//图片样式
		:deep(img) {
			position: relative;
			display: inline-block;
			width: 30%;
			height: auto;
			border-radius: 2px;
			vertical-align: text-bottom;
			margin: 0;
			max-width: 100%;
			min-width: 100px;
		}
		//视频样式
		:deep(video) {
			position: relative;
			display: inline-block;
			width: 30%;
			border-radius: 2px;
			vertical-align: text-bottom;
			background-color: var(--editify-video-background);
			object-fit: contain;
			margin: 0;
			max-width: 100%;
			min-width: 100px;
		}
		//引用样式
		:deep(blockquote) {
			display: block;
			border-left: 8px solid var(--editify-background-darker);
			padding: 6px 10px 6px 20px;
			margin: 0 0 15px;
			line-height: 1.5;
			font-size: var(--editify-font-size);
			color: var(--editify-font-color-light);
			border-radius: 0;
		}
		//分隔线样式
		:deep(hr) {
			display: block;
			width: 100%;
			height: 1px;
			background-color: var(--editify-font-color-disabled);
			border: none;
			margin: 10px 0;
		}
		//任务列表样式
		:deep(div[data-editify-task]) {
			margin-bottom: 15px;
			position: relative;
			padding-left: 26px;
			font-size: var(--editify-font-size);
			color: var(--editify-font-color-dark);

			&::before {
				display: block;
				width: 14px;
				height: 14px;
				border-radius: 2px;
				border: 1px solid var(--editify-font-color-light);
				box-sizing: border-box;
				user-select: none;
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				z-index: 1;
				cursor: pointer;
			}

			&::after {
				display: inline-block;
				width: 10px;
				height: 5px;
				position: absolute;
				content: '';
				left: 2px;
				top: 50%;
				margin-top: -1px;
				border: 2px solid transparent;
				border-top: none;
				border-right: none;
				transform: translateY(-50%) rotate(-45deg);
				transform-origin: center;
				z-index: 2;
				cursor: pointer;
			}

			&[data-editify-task='checked'] {
				text-decoration: line-through;
				color: var(--editify-font-color-light);

				&::before {
					background-color: var(--editify-font-color-disabled);
					border-color: var(--editify-font-color-disabled);
				}

				&::after {
					border-color: #fff;
				}
			}
		}
		//附件样式
		:deep(span[data-editify-attachment]) {
			display: inline;
			color: var(--editify-font-color-link);
			transition: all 300ms;
			position: relative;
			margin: 0 10px;
			font-size: 14px;
			vertical-align: baseline;

			//附件图标
			&::before {
				font-family: 'editify-icon' !important;
				content: '\e689';
				font-size: inherit;
			}
			//附件名称
			&::after {
				content: attr(data-editify-attachment-name);
				margin-left: 6px;
				font-size: inherit;
			}

			&:hover {
				color: var(--editify-font-color-link-dark);
				cursor: pointer;
			}
		}
		//数学公式样式
		:deep(span[data-editify-mathformula]) {
			display: inline-block;
			border: 1px dashed var(--editify-border-color);
			padding: 6px 10px;
			border-radius: 4px;
			margin: 0 4px;
			transition: all 300ms;
			max-width: 100%;

			.katex,
			math {
				width: 100%;
				overflow: hidden;
			}

			&:hover {
				cursor: pointer;
				background: var(--editify-background-darker);
			}
		}
		//信息块样式
		:deep(div[data-editify-info]) {
			display: block;
			position: relative;
			width: 100%;
			border-radius: 4px;
			margin-bottom: 15px;
			padding: 10px 10px 10px 60px;
			font-size: var(--editify-font-size);
			background-color: var(--editify-background-darker);
			color: var(--editify-font-color-dark);

			&::before {
				position: absolute;
				left: 0;
				top: 50%;
				height: 100%;
				transform: translateY(-50%);
				display: flex;
				justify-content: center;
				align-items: center;
				content: '\e600';
				font-family: 'editify-icon' !important;
				font-size: 1.25em;
				padding: 0 20px;
			}
		}

		//禁用样式
		&.editify-disabled {
			cursor: auto !important;

			&.editify-placeholder::before {
				cursor: auto;
			}
			:deep(a) {
				cursor: pointer;
			}
			:deep(table) {
				td:not(:last-child)::after {
					cursor: auto;
				}
			}
			:deep(span[data-editify-mathformula]) {
				display: inline-block;
				border: none;
				padding: 6px 10px;
				border-radius: none;
				margin: 0 4px;

				&:hover {
					cursor: auto;
					background: none;
				}
			}
		}
	}

	//代码视图
	.editify-sourceview {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: var(--editify-reverse-background);
		margin: 0;
		padding: 6px 10px;
		overflow-x: hidden;
		overflow-y: auto;
		font-size: var(--editify-font-size);
		color: var(--editify-reverse-color);
		font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
		resize: none;
		border: none;
		border-radius: inherit;
		overflow-wrap: break-word;
		z-index: 1;
	}
}

.editify-footer {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
	padding: 10px;
	position: relative;

	.editify-footer-words {
		font-size: var(--editify-font-size);
		color: var(--editify-font-color-light);
		line-height: 1;
	}

	//全屏模式下并且不是代码视图下，显示一个上边框
	&.editify-fullscreen {
		border-top: 1px solid var(--editify-border-color);
	}
}
